.App {

   height: 400px;
  width: 650px; 
  margin: 0 auto;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
  margin-top: 60px;
  font-size: 18px;
  line-height: 2.5;
}
.tipcalculator {
  display: flex;
  flex-direction: column;
  position: relative;
}

.reset{
position: absolute;
left: 30%;
bottom: -30%;
width: 200px;
padding: 10px;
background-color: rgb(228, 231, 230);
border: none;
font-weight: 600;
font-size: 15px;
border-radius: 5px;
}